@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  html {
    @apply bg-dark text-support text-base antialiased;
    -webkit-tap-highlight-color: transparent;
  }

  button {
    font-family: inherit;
    letter-spacing: unset;
  }
}

@layer utilities {
  .tap-highlight-transparent {
    -webkit-tap-highlight-color: transparent;
  }
}
